body {
    font-family: Arial, sans-serif;
    background-color: #2C3A3F;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: block;
}

button, input[type="text"], textarea {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

textarea {
    width: 80%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

#ranksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;  /* or another preferred value */
    width: 100%;
}

.rank {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.rank > * {
    margin-right: 5px;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
}

#generatedInput {
    width: 600px;         
    height: 150px;        
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    color: #000;
    background-color: #333;
    border: 1px solid #ccc;
    resize: none;           
    overflow-y: auto;     
}

